// Color theme
$animation-colors: #000814, #001d3d, #003566, #ffc300, #ffd60a, #ffe45c;
$dark-shade1: #353535;

//Font sizes
$big-title: 60px;
$title: 40px;
$sub-title: 30px;
$sub-title1: 20px;
$sub-title2: 18px;
$normal-text: 14px;
$medium-text: 12px;
$small-text: 10px;

// Screen sizes
$small-devices: 531px;
$medium-devices: 769px;