.carousel-container {
    .navigator-section {
        display: flex;
        justify-content: space-between;
        margin: 20px 15px;
        height: 70px;
    }
    .inactive {
        display: none;
        animation: show .5s;
    }
    .active {
        display: block;
        animation: show .5s;
    }

    .MuiSvgIcon-root {
        cursor: pointer;
    }

    @keyframes show {
        from {
            transform:scale(0.7);
            opacity:0
        }
        to {
            transform: scale(1);
            opacity:1
        }
    }
}