@import './../../../../assets/scss/variables.scss';

.bar-chart-container {
    width: 100%;
    margin: 40px auto;
    background-color: #eeeeeea8;

    @media (max-width: $medium-devices){
        width: 100%;
    }
}